{% extends "base.html" %}

{% block content %}

<!-- NAVBAR -->

<nav class="navbar navbar-dark bg-success px-4">
    <span class="navbar-brand">
        <i class="fa-solid fa-graduation-cap"></i>
        Campus Placement Portal
        <small class="ms-2">Company Portal</small>
    </span>

    <a href="/logout" class="text-white">
        <i class="fa-solid fa-right-from-bracket"></i> Logout
    </a>
</nav>


<div class="d-flex">

<!-- SIDEBAR -->

<div class="bg-white border p-3" style="width:260px; min-height:100vh">

<a href="{{ url_for('company_dashboard') }}" class="btn btn-light w-100 mb-2 text-start">
<i class="fa-solid fa-table"></i> Dashboard
</a>

<a href="{{ url_for('company_profile') }}" class="btn btn-light w-100 mb-2 text-start">
<i class="fa-solid fa-building"></i> Company Profile
</a>

<a href="{{ url_for('create_drive') }}" class="btn btn-light w-100 mb-2 text-start">
<i class="fa-solid fa-plus"></i> Create Drive
</a>

<a href="{{ url_for('company_drives') }}" class="btn btn-light w-100 text-start">
<i class="fa-solid fa-briefcase"></i> My Drives
</a>

</div>


<!-- MAIN CONTENT -->

<div class="flex-grow-1 p-4 bg-light">

{% block company_content %}{% endblock %}

</div>

</div>

{% endblock %}